<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sheaft - @ViewData["Title"]</title>
    <script src="@(ViewBag.PaylineUrl)/cdn/scripts/widget-min.js"></script>
    <link href="@(ViewBag.PaylineUrl)/cdn/styles/widget-min.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
