@using Sheaft.Web.Manage.Extensions
@using Sheaft.Application.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sheaft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 justify-content-between">
            <div class="flex flex-nowrap w-100" style="display:flex">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">Sheaft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex">
                    <ul class="navbar-nav mr-auto">

                    </ul>
                        @if (Context.Request.ImpersonificationId().HasValue)
                        {
                            @using (Html.BeginForm("RemoveImpersonification", "Account", FormMethod.Post, new { @class = "form-inline" }))
                            {
                                @Html.AntiForgeryToken()

                                <button class="btn btn-outline-danger" type="submit">Logout @Context.Request.ImpersonificationName()</button>
                            }
                        }
                        else
                        {
                                @using (Html.BeginForm("ImpersonateByEmail", "Account", FormMethod.Post, new { @class = "form-inline" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="input-group">
                                        <input name="email" type="text" class="form-control" placeholder="consumer or business email" aria-label="consumer or business email">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                }
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.GetName()
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { @class = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        <button class="btn btn-outline-primary dropdown-item" type="submit">
                                            Déconnexion
                                        </button>
                                    }
                                </div>
                            </div>
                        }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Sheaft
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
