@using Sheaft.Application.Common.Models.ViewModels
@model Sheaft.Application.Common.Models.ViewModels.BankAccountViewModel
@{
    ViewData["Title"] = "Update producer bank account";
    var countries = ((List<CountryViewModel>)ViewBag.Countries).Select(c => new SelectListItem(c.Name, c.Alpha2)).ToList();
}

<div class="container">
    <h2 class="display-4">Update producer bank account</h2>
    <br />

    @using (Html.BeginForm("Edit", "BankAccounts", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OwnerId)
        <br />

        <div class="row">
            <div class="col-md-6">
                <h3>Infos</h3>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Owner)
                    @Html.TextBoxFor(m => m.Owner, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.IBAN)
                    @Html.TextBoxFor(m => m.IBAN, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.BIC)
                    @Html.TextBoxFor(m => m.BIC, null, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <h4>Address</h4>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address.Line1)
                    @Html.TextBoxFor(m => m.Address.Line1, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address.Line2)
                    @Html.TextBoxFor(m => m.Address.Line2, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address.Zipcode)
                    @Html.TextBoxFor(m => m.Address.Zipcode, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address.City)
                    @Html.TextBoxFor(m => m.Address.City, null, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Address.Country)
                    @Html.DropDownListFor(m => m.Address.Country, countries, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <br />
        <a asp-controller="Producers" asp-action="Edit" asp-route-id="@Model.OwnerId" class="btn btn-light">
            Cancel
        </a>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-check">&nbsp;Save</i>
        </button>
    }

</div>
