@using Sheaft.Web.Manage.Extensions
@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Products";
    int take = ViewBag.Take;
    int currentPage = ViewBag.Page;
    Guid? imperonatingId = Context.Request.ImpersonificationId();
}

<div class="container">
    <h2 class="display-5">Products</h2>

    @if (Context.Request.ImpersonificationId().HasValue)
    {
        <a href="https://content.sheaft.com/resources/excel/sheaft_catalogue_produits.xlsx" target="_blank">Download sample products catalog</a>
        <br />
        <br />
        @using (Html.BeginForm("Import", "Products", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <input type="file" multiple name="products" />
            <button type="submit" class="btn btn-outline-success">Import</button>
        }
        <br />
    }
    else
    {
        <div class="alert alert-info">To import products with a catalog file, you must impersonate a producer</div>
    }

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Reference</th>
                <th scope="col">Name</th>
                <th scope="col">WholeSalePrice</th>
                <th scope="col">Vat</th>
                <th scope="col">Available</th>
                @if (!imperonatingId.HasValue)
                {
                    <th scope="col">Producer</th>
                }
                <th scope="col">CreatedOn</th>
                <th scope="col">Removed</th>
                <th scope="col">
                    <a asp-controller="Products" asp-action="Add" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entity in Model)
            {
                <tr>
                    <th scope="row">@entity.Reference</th>
                    <td>@entity.Name</td>
                    <td>@(entity.Vat)%</td>
                    <td>@entity.Available</td>
                    @if (!imperonatingId.HasValue)
                    {
                        <td>
                            @entity.Producer.Name
                            @using (Html.BeginForm("ImpersonateById", "Account", new { id = entity.Producer.Id }, FormMethod.Post, true, new { @class = "form d-inline" }))
                            {
                                <button type="submit" class="btn btn-info">
                                    <i class="fa fa-user-secret"></i>
                                </button>
                            }
                        </td>
                    }
                    <td>@entity.CreatedOn.ToString("dd/MM/yy hh:mm")</td>
                    <td>@entity.RemovedOn.HasValue</td>
                    <td>
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@entity.Id" class="btn btn-info">
                            <i class="fa fa-pen"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr class="text-center">
                <td colspan="8">
                    @if (currentPage >= 1)
                    {
                        <a asp-controller="Products" asp-action="Index" asp-route-take="@take" asp-route-page="@(currentPage-1)" class="btn btn-outline-secondary">
                            <i class="fa fa-caret-left"></i>
                        </a>
                    }
                    @if (take == Model.Count())
                    {
                        <a asp-controller="Products" asp-action="Index" asp-route-take="@take" asp-route-page="@(currentPage+1)" class="btn btn-outline-secondary">
                            <i class="fa fa-caret-right"></i>
                        </a>
                    }
                </td>
            </tr>
        </tfoot>
    </table>
</div>
