@using Sheaft.Domain.Enum
@model Sheaft.Mailing.DeliveryFormMailerModel

<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
    body, p, div {
      font-family: arial,helvetica,sans-serif;
      font-size: 14px;
    }
    body {
      color: #333333;
    }
    body a {
      color: #33d7a3;
      text-decoration: none;
    }
    p { margin: 0; padding: 0; }
    table.wrapper {
      width:100% !important;
      table-layout: fixed;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    
    tr, td{
        border: #dddddd solid 1px;
    }
    </style>
</head>
<body>
<div style="width:100%; text-align: center;">
    <h1>Bon de livraison <strong>(@Model.Identifier)</strong></h1>
</div>
<div style="display: flex; justify-content: space-between">
<div style="text-align: left;">
    <strong>@Model.Producer.Name</strong><br/>
    @Model.Producer.Email<br/>
    @Model.Producer.Phone<br/>
    @Model.Producer.Siret<br/>

    @Model.Producer.Address.Line1<br/>
    @if (!string.IsNullOrWhiteSpace(@Model.Producer.Address.Line2))
    {
        @Model.Producer.Address.Line2<br/>
    }
    @Model.Producer.Address.Zipcode<br/>
    @Model.Producer.Address.City<br/>
</div>
<div style="text-align: right;">
    <strong>@Model.Client.Name</strong><br/>
    @Model.Client.Email<br/>
    @Model.Client.Phone<br/>
    @Model.Client.Siret<br/>

    @Model.Client.Address.Line1<br/>
    @if (!string.IsNullOrWhiteSpace(@Model.Client.Address.Line2))
    {
        @Model.Client.Address.Line2<br/>
    }
    @Model.Client.Address.Zipcode<br/>
    @Model.Client.Address.City<br/>
</div>
</div>
<div style="padding:15px 0px">
    <p>Date de livraison: <strong>@(Model.DeliveredOn.HasValue ? Model.DeliveredOn.Value.ToString("dd/MM/yyyy") : Model.ScheduledOn.ToString("dd/MM/yyyy"))</strong></p>
</div>
<table cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="border-collapse:collapse; padding:15px 0px 0px 0px;" bgcolor="#FFFFFF">
    <thead>
    <tr style="background-color: #009688;color: #ffffff;text-align: left;">
        <th style="padding: 12px 15px;">Produit</th>
        <th style="padding: 12px 15px;text-align: center;">Quantité</th>
        <th style="padding: 12px 15px;text-align: center;">PU HT</th>
        <th style="padding: 12px 15px;text-align: center;">TVA</th>
        <th style="padding: 12px 15px;text-align: center;">Total HT</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PurchaseOrders)
    {
    <tr style="text-align: left;">
            <th colspan="5" style="padding:15px 5px;">Commande @item.Reference du @item.CreatedOn.ToString("dd/MM/yyyy")</th>
        </tr>
        @foreach (var product in item.Products)
        {
            <tr >
                <td style="padding: 10px 15px;vertical-align: center;">@product.Name</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Quantity</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.UnitWholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Vat</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.TotalWholeSalePrice</td>
            </tr>
        }
    }
    @if (Model.ReturnedProducts.Any())
    {
        @foreach (var productGrouping in Model.ReturnedProducts.GroupBy(p => p.RowKind))
        {
    <tr style="text-align: left;">
                <th colspan="5" style="padding:15px 5px;">Produits (@productGrouping.Key.ToEnumString())s</th>
            </tr>
            @foreach (var product in productGrouping)
            {
                <tr >
                    <td style="padding: 10px 15px;vertical-align: center;">@product.Name</td>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Quantity</td>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.UnitWholeSalePrice</td>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Vat</td>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.TotalWholeSalePrice</td>
                </tr>
            }
        }
    }
    @if (Model.ReturnedReturnables.Any())
    {
        <tr style="text-align: left;">
            <th colspan="5" style="padding:15px 5px;">Consignes rendues</th>
        </tr>
        @foreach (var product in Model.ReturnedReturnables)
        {
            <tr >
                <td style="padding: 10px 15px;vertical-align: center;">@product.Name</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Quantity</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.UnitWholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Vat</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.TotalWholeSalePrice</td>
            </tr>
        }
    }
    <tr style="border:none;">
        <td colspan="3" style="border:none;padding: 10px 15px;vertical-align: center; text-align: right;"></td>
        <td style=" padding: 10px 15px;vertical-align: center; text-align: right;">Total HT</td>
        <td style=" padding: 10px 15px;vertical-align: center; text-align: right;">@Model.TotalWholeSalePrice EUR</td>
    </tr>
    <tr style="border:none;">
        <td colspan="3" style="border:none;padding: 10px 0px;vertical-align: center; text-align: left;">Livraison réceptionnée par : <strong>@Model.ReceptionnedBy</strong></td>
        <td style=" padding: 10px 15px;vertical-align: center; text-align: right;">Total TVA</td>
        <td style=" padding: 10px 15px;vertical-align: center; text-align: right;">@Model.TotalVatPrice EUR</td>
    </tr>
    <tr style="border:none;">
        <td colspan="3" style="border:none;padding: 10px 15px;vertical-align: center; text-align: right;"></td>
        <td style=" padding: 10px 15px;vertical-align: center; text-align: right;">Total TTC</td>
        <td style=" padding: 10px 15px;vertical-align: center; text-align: right;">@Model.TotalOnSalePrice EUR</td>
    </tr>
    <tr style="border:none;">
        <td colspan="5" style="border:none;padding: 10px;"></td>
    </tr>
    <tr style="border:none;">
        <td colspan="5" style="border:none; padding:10px 0px;"><strong>Remarques :</strong></td>
    </tr>
    <tr>
        <td colspan="5"><div style="min-height: 100px;border: #dddddd solid 1px">@Model.Comment</div></td>
    </tr>
    </tbody>
</table>
</body>
</html>