@using Sheaft.Domain.Enum
@model Sheaft.Mailing.DeliveryFormMailerModel

<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style type="text/css">
    body, p, div {
      font-family: arial,helvetica,sans-serif;
      font-size: 14px;
    }
    body {
      color: #333333;
    }
    body a {
      color: #33d7a3;
      text-decoration: none;
    }
    p { margin: 0; padding: 0; }
    table.wrapper {
      width:100% !important;
      table-layout: fixed;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }
    
    tr, td{
        border: #dddddd solid 1px;
    }
    </style>
</head>
<body>
<div style="width:100%; text-align: center;">
    <h1>Bon de livraison <strong>(@Model.Identifier)</strong></h1>
</div>
<div style="display: flex; justify-content: space-between">
    <div style="text-align: left;">
        <strong>@Model.Producer.Name</strong><br/>
        @Model.Producer.Email<br/>
        @Model.Producer.Phone<br/>
        @Model.Producer.Address.Line1<br/>
        @if (!string.IsNullOrWhiteSpace(@Model.Producer.Address.Line2))
        {
            @Model.Producer.Address.Line2<br/>
        }
        @Model.Producer.Address.Zipcode<br/>
        @Model.Producer.Address.City<br/>
    </div>
    <div style="text-align: right;">
        <strong>@Model.Client.Name</strong><br/>
        @Model.Client.Email<br/>
        @Model.Client.Phone<br/>

        @Model.Client.Address.Line1<br/>
        @if (!string.IsNullOrWhiteSpace(@Model.Client.Address.Line2))
        {
            @Model.Client.Address.Line2<br/>
        }
        @Model.Client.Address.Zipcode<br/>
        @Model.Client.Address.City<br/>
    </div>
</div>
<div style="padding:15px 0px">
    <p>Date de livraison: <strong>@(Model.DeliveredOn.HasValue ? Model.DeliveredOn.Value.ToString("dd/MM/yyyy") : Model.ScheduledOn.ToString("dd/MM/yyyy"))</strong></p>
</div>
<table cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="border-collapse:collapse; padding:15px 0px 0px 0px;" bgcolor="#FFFFFF">
    <thead>
    <tr style="background-color: #009688;color: #ffffff;text-align: left;">
        <th style="padding: 12px 15px;">Produit</th>
        <th style="padding: 12px 15px;">Lot(s)</th>
        <th style="padding: 12px 15px;text-align: center;">Qté</th>
        <th style="padding: 12px 15px;text-align: center;">PU HT (€)</th>
        <th style="padding: 12px 15px;text-align: center;">TVA (%)</th>
        <th style="padding: 12px 15px;text-align: center;">Total HT (€)</th>
        <th style="padding: 12px 15px;text-align: center;">Total TTC (€)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PurchaseOrders)
    {
        <tr style="padding: 10px 15px;text-align: left;">
            <th colspan="6" style="padding:15px 5px;">Commande @item.Reference du @item.CreatedOn.ToString("dd/MM/yyyy")</th>
        </tr>
        @foreach (var product in item.Products)
        {
            <tr>
                <td style="padding: 10px 15px;vertical-align: center;">
                    @product.Name<br/>
                    <span style="color:#333333; font-size: 10px;">#@product.Reference - @product.Conditioning</span>
                </td>
                <td style="padding: 10px 15px;vertical-align: center;">
                    @if (product.Quantity > 0)
                    {
                        @foreach (var batch in product.Batches)
                        {
                            if (batch.DLC.HasValue)
                            {
                                <p>@batch.Number (DLC: @batch.DLC.Value.ToString("dd/MM/yyyy"))</p>
                            }
                            else if (batch.DDM.HasValue)
                            {
                                <p>@batch.Number (DLM: @batch.DDM.Value.ToString("dd/MM/yyyy"))</p>
                            }
                            else
                            {
                                <p>@batch.Number</p>
                            }
                        }
                    }
                </td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Quantity</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.ProductWholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Vat</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.ProductTotalWholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.ProductTotalOnSalePrice</td>
            </tr>
        }
        @foreach (var returnable in item.Returnables)
        {
            <tr >
                <td style="padding: 10px 15px;vertical-align: center;">Consigne - @returnable.Name</td>
                <td/>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.Quantity</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.WholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.Vat</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.TotalWholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.TotalOnSalePrice</td>
            </tr>
        }
    }
    @if (Model.ProductsDiffs.Any())
    {
        @foreach (var productGrouping in Model.ProductsDiffs.GroupBy(p => p.RowKind))
        {
            <tr style="padding: 10px 15px;text-align: left;">
                <th colspan="6" style="padding:15px 5px;">Produits @productGrouping.Key.ToEnumString()s</th>
            </tr>
            @foreach (var product in productGrouping)
            {
                <tr>
                    <td style="padding: 10px 15px;vertical-align: center;">
                        @product.Name<br/>
                        <span style="color:#333333; font-size: 10px;">#@product.Reference - @product.Conditioning</span>
                    </td>
                    <td/>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Quantity</td>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.ProductWholeSalePrice</td>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Vat</td>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.ProductTotalWholeSalePrice</td>
                    <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.ProductTotalOnSalePrice</td>
                </tr>
            }

            if (Model.ReturnablesDiffs.Any(p => p.RowKind == @productGrouping.Key))
            {
                @foreach (var returnable in Model.ReturnablesDiffs.Where(p => p.RowKind == @productGrouping.Key))
                {
                    <tr>
                        <td style="padding: 10px 15px;vertical-align: center;">Consigne - @returnable.Name</td>
                        <td/>
                        <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.Quantity</td>
                        <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.WholeSalePrice</td>
                        <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.Vat</td>
                        <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.TotalWholeSalePrice</td>
                        <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@returnable.TotalOnSalePrice</td>
                    </tr>
                }
            }
        }
    }
    @if (Model.ReturnedReturnables.Any())
    {
        <tr style="padding: 10px 15px;text-align: left;">
            <th colspan="6" style="padding:15px 5px;">Consignes rendues</th>
        </tr>
        @foreach (var product in Model.ReturnedReturnables)
        {
            <tr >
                <td style="padding: 10px 15px;vertical-align: center;">@product.Name</td>
                <td/>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Quantity</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.WholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.Vat</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.TotalWholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@product.TotalOnSalePrice</td>
            </tr>
        }
    }
    
    @if (Model.DeliveryFeesWholeSalePrice > 0)
    {
        <tr style="padding: 10px 15px;text-align: left;">
            <th colspan="6" style="padding:15px 5px;">Livraison</th>
        </tr>
        <tr style="padding: 10px 15px;text-align: left;">
            <td style="padding: 10px 15px;vertical-align: center;">Livraison au magasin</td>
                <td/>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">1</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@Model.DeliveryFeesWholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">20.00</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@Model.DeliveryFeesWholeSalePrice</td>
                <td style="padding: 10px 15px;vertical-align: center; text-align: right;">@Model.DeliveryFeesOnSalePrice</td>
        </tr>
    }
    <tr style="border:none;">
        <td colspan="4" style="border:none;padding: 10px 15px;vertical-align: center; text-align: right;"></td>
        <th style=" padding: 10px 15px;vertical-align: center; text-align: right;">Total HT</th>
        <th style=" padding: 10px 15px;vertical-align: center; text-align: right;">@Model.TotalWholeSalePrice EUR</th>
    </tr>
    <tr style="border:none;">
        <td colspan="4" style="border:none;padding: 10px 15px;vertical-align: center; text-align: right;"></td>
        <th style=" padding: 10px 15px;vertical-align: center; text-align: right;">Total TVA</th>
        <th style=" padding: 10px 15px;vertical-align: center; text-align: right;">@Model.TotalVatPrice EUR</th>
    </tr>
    <tr style="border:none;">
        <td colspan="4" style="border:none;padding: 10px 15px;vertical-align: center; text-align: right;"></td>
        <th style=" padding: 10px 15px;vertical-align: center; text-align: right;">Total TTC</th>
        <th style=" padding: 10px 15px;vertical-align: center; text-align: right;">@Model.TotalOnSalePrice EUR</th>
    </tr>
    <tr style="border:none;">
        <td colspan="6" style="border:none;padding: 10px;"></td>
    </tr>
    </tbody>
</table>
<table cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="border-collapse:collapse; padding:15px 0px 0px 0px;" bgcolor="#FFFFFF">
    <tbody>
    <tr style="border:none;">
        <td style="border:none;">
           Livraison réceptionnée par : <strong>@Model.ReceptionnedBy</strong>
        </td>
    </tr><tr style="border:none;">
        <td style="border:none;">
            <strong>Remarques :</strong>
        </td>
    </tr>
    <tr style="border:none!important;">
        <td style="border:none!important;">
            <div style="min-height: 120px;border: #dddddd solid 1px; padding: 10px;">@Model.Comment</div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>