@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Impersonification";
}

<div class="text-center">
    <h1 class="display-4">Impersonification</h1>
</div>
<br />

@if (ViewBag.User != null)
{
    <div>
        You are impersonating @ViewBag.User.Name
        <br />
        @using (Html.BeginForm("RemoveImpersonification", "Account", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()

            <br />
            <button class="btn btn-danger" type="submit">
                Remove Impersonification
            </button>
        }
    </div>
}
else if (Model != null && Model.Any())
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Kind</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Company</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Kind</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>@user.Company</td>
                        <td>
                            @using (Html.BeginForm("ImpersonateById", "Account", new { Id = user.Id }, FormMethod.Post, true, new { @class = "form" }))
                            {
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-user-secret"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">Search a user by email</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4 class="text-center">You must impersonate user to access this resource !</h4>
    <br/>
    @using (Html.BeginForm("ImpersonateByEmail", "Account", FormMethod.Post, new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        <input name="email" type="text" class="form-control  w-50 m-auto" placeholder="User or company email"/>
        <br/>
        <button class="btn btn-outline-primary" style="display:none" type="submit">
            <i class="fa fa-search"></i>
        </button>
    }
}