@model LevelViewModel
@{
    ViewData["Title"] = "New Level";
}

    <div class="container">
        <h1 class="display-5">New Level</h1>
        <br />

        @using (Html.BeginForm("Add", "Levels", FormMethod.Post, new { @class = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <br />

            <div class="form-group">
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RequiredPoints)
                @Html.TextBoxFor(m => m.RequiredPoints, null, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Number)
                @Html.TextBoxFor(m => m.Number, null, new { @class = "form-control" })
            </div>

            <br />
            <a asp-controller="Levels" asp-action="Index" class="btn btn-light">
                Cancel
            </a>
            <button type="submit" class="btn btn-success">
                <i class="fa fa-plus">&nbsp;Create</i>
            </button>
        }

    </div>
