@model DocumentViewModel
@{
    ViewData["Title"] = "Add page to document";
}

<div class="container">
    <h2 class="display-4">Add page to document</h2>
    <br />
    @using (Html.BeginForm("AddPage", "Documents", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
    {
        <br />
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(c => c.Name, new { @class = "form-label" })
            @Html.TextBoxFor(c => c.Name, null, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.LabelFor(c => c.Kind, new { @class = "form-label" })
            @Html.TextBoxFor(c => c.Kind, null, new { @class = "form-control", @disabled = "disabled" })
        </div>
        <div class="form-group">
            @Html.Label("page", "Page", new { @class = "form-label" })
            @Html.TextBox("page", null, new { @class = "form-control", @type = "file" })
        </div>
        <br />
        <a asp-controller="Documents" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-light">
            Go back
        </a>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-upload">&nbsp;Upload</i>
        </button>
    }
</div>
