@model List<Guid>

@{
    ViewData["Title"] = "Add Products to catalog";
    Guid id = ViewBag.Id;
    List<SelectListItem> products = ViewBag.Products;
}

<div class="container">
    <h1 class="display-5">Add products to catalog</h1>
    <br />

    @using (Html.BeginForm("AddProducts", "Catalogs", new {Id = id}, FormMethod.Post, null, new { @class = "form"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <br />
        <div class="form-group">
            @Html.Label(null, "Products")
            @Html.ListBox("Products", products, new { @class = "form-control" })
        </div>

        <br />
        <a asp-controller="Catalogs" asp-action="Edit" asp-route-id="@ViewBag.Id" class="btn btn-light">
            Cancel
        </a>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-plus">&nbsp;Add</i>
        </button>
    }

</div>
