@model Sheaft.Application.Common.Models.ViewModels.ReturnableViewModel
@{
    ViewData["Title"] = "New Returnable";
    var vats = new List<SelectListItem> {
        new SelectListItem("5.5%", "5.5"),
        new SelectListItem("10%", "10"),
        new SelectListItem("20%", "20"),
    };

}

<div class="container">
    <h1 class="display-5">New Returnable</h1>
    <br />

    @using (Html.BeginForm("Add", "Returnables", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WholeSalePrice)
            @Html.TextBoxFor(m => m.WholeSalePrice, null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Vat)
            @Html.DropDownListFor(c => c.Vat, vats, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description)
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>

        <br />
        <a asp-controller="Returnables" asp-action="Index" class="btn btn-light">
            Cancel
        </a>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-plus">&nbsp;Create</i>
        </button>
    }

</div>
