@model IEnumerable<OrderViewModel>
@{
    ViewData["Title"] = "Orders to refund";
    int take = ViewBag.Take;
    int currentPage = ViewBag.Page;
}

    <div class="container">
        <h2 class="display-5">Orders to refund</h2>
        <br />

        @if (ViewBag.Submitted != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <span>Successfully submitted payin refund @ViewBag.Edited.Name</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br />
        }

        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">CreatedOn</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col">Purchase Orders</th>
                    <th scope="col">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
                    <tr>
                        <th scope="row">@entity.User.Name</th>
                        <td>@entity.CreatedOn.ToString("dd/MM/yy hh:mm")</td>
                        <td>@entity.TotalPrice€</td>
                        <td>@entity.Status</td>
                        <td>@entity.PurchaseOrders.Count()</td>
                        <td>
                            <a asp-controller="Order" asp-action="Details" asp-route-id="@entity.Id" class="btn btn-info">
                                <i class="fa fa-eye"></i>
                            </a>
                            @using (Html.BeginForm("CreatePayinRefund", "Payins", new { id = entity.Id }, FormMethod.Post, true, new { @class = "form d-inline" }))
                            {
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-cash-register"></i>
                                </button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr class="text-center">
                    <td colspan="6">
                        @if (currentPage >= 1)
                        {
                            <a asp-controller="Payins" asp-action="Todo" asp-route-take="@take" asp-route-page="@(currentPage-1)" class="btn btn-outline-secondary">
                                <i class="fa fa-caret-left"></i>
                            </a>
                        }
                        @if (take == Model.Count())
                        {
                            <a asp-controller="Payins" asp-action="Todo" asp-route-take="@take" asp-route-page="@(currentPage+1)" class="btn btn-outline-secondary">
                                <i class="fa fa-caret-right"></i>
                            </a>
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
